* {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.centered {
  display: flex;
  flex-direction: column;
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
}

.text-centered {
  text-align: center;
}

.max-width-large {
  max-width: 1250px;
}

.align-center {
  margin-left: auto;
  margin-right: auto;
}